* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url("https://github.com/FENDdeveloperkei/updated-portfolio/blob/master/butterfly%202019.gif?raw=");
}
    
}
.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: flex-end;
     border-bottom: 2px dotted black;
     margin-bottom: 10px;
     background: linear-gradient(160deg, #98f9de 0%, #80ffff 100%);
}

.responsive-img {
    display: flex;
    margin: 50px auto;
    height: auto;
    max-width: 85%;
    padding: 10%;
    background-image: url("https://github.com/FENDdeveloperkei/readers-leaders/blob/master/backgrnd%20img18.PNG?raw=");
  }

.text-hdr {
    font-size: 6vw;
}

.text-item {
    font-size: 5vw;
}

.photo img {
  max-width: 55%;
  height: auto;
}

.content {
  text-align: center;
  border-radius: 1em;
}

.featured-work {
    margin-top: 150px;
}

.featured-item {
    width: 200px;
    height: 150px;
    border-radius: 4em;
}
.footer {
    width: 100%;
    font-size: 12px;
    border-top: 5px dashed #E500B8;
    padding: 1em;
    width: 100%;
    text-align: center;
    color: #aa7ecd;
    background: linear-gradient(160deg, #ffffff 30%, #98f9de 100%);
}
/* Mobile styles */
@media only screen and (max-width: 490px) {
  body {
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 491px) and (max-width: 670px) {
  body {
    background-color: #ffffff;
  }
  .logo {
    width: 60px;
  }

  .item-1, .item-2, .item-3 {
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
}

/* Tablet styles */
@media only screen and (min-width: 671px) and (max-width: 960px) {
  body {
    background-color: #ffffff;
  }
  .featured-gallery {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .logo {
    width: 70px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  body {
    width: 960px;
    margin: 0 auto;
  }

  .logo {
    width: 70px;
  }

  .featured-gallery {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .section-header {
    text-align: left;
  }
}
